.formulario_contacto h3,.visitanos-titulo h3{
    color: #7ed957;
}



#hero-contactanos{
    top: 118px;
    width: 100%;
    height: 100%;
    background-image:radial-gradient(circle at left,rgba(12,113,195,0.38) 26%,rgba(12,113,195,0.73) 56%), url(../images/almacenBg.gif); 
    background-size: cover;
    color: #fff;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    border-radius: 0 0 0 10vw;
    margin-bottom: 30px;
}

.container-contacto{
    display: flex;
   justify-content: center;
    width: 80%;
    height: 100%;
    align-items: center;
    padding: 30px 0;
    max-width: 1080px;
    background-position: 50%;
    position: relative;
    margin: auto;
    text-align: center;
}

.contacto-titulo{
    font-size: 25px;
   
}

/*datos empresa*/
#datos-empresa{
    background-color: #FFB72B;
    border-radius: 0 0 14vw 14vw;
}

.container-datos{
    padding: 19px;
}
.container-datos h3{
    font-size: 27px;
    padding: 0;
    padding-bottom: 10px;
    color: #fff;
}

.container-datos p{
    font-size: 20px;
    padding-bottom: 16px;
    color: #fff;
}
.ventas-contacto,.compras-contacto,.QYS{
    display: flex;
    flex-direction: row;
    
    
}

.fa-headphones,.fa-id-card{
    color: #fff;
    font-size: 35px;
}

.icono-aud,.icon-comp{
    display: flex;
    padding-top: 5px;
}

.datos-section-contacto{
    margin-left: 10px;
}



/*sucursales*/
#sucursales{
    margin-top: 30px;
    max-width: 100%;
    height: 400px;
}

.mapa{
    display: flex;
    justify-content: center;
    height: 100%;
}
iframe{
    width: 90%;
    height: 100%;
}

.visitanos-titulo{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}



/*contactanos*/
#contactanos{
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.formulario_contacto{
    width: 100%;
    padding:  30px 0 0 15px;
}
.formulario-contacto{
    width: 100%;
    background-color: #f6f7fa;
    background-position: 50%;
    background-size: cover; 
}

.mensaje-correcto{
    color: white;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #7ED957;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
}
.mensaje-incorrecto{
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
}

.correcto{
    box-shadow: 0px 20px 30px -6px rgb(173 180 208 /20%);
    font-size: 16px;
    line-height: 1.8em;
    background-color: #ffffff;
    color: #999;
    padding: 16px;
    padding: 0 0 0 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 60px;
}

.error{
    border: 3px solid #FF4B4B;
    box-shadow: 0px 20px 30px -6px rgb(173 180 208 /20%);
    font-size: 16px;
    line-height: 1.8em;
    background-color: white;
    color: #999;
    padding: 16px;
    padding: 0 0 0 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 60px;
}

.btn-enviar-container{
    float: right;
    text-align: right;
    margin-top: 5%;
    display: flex;
    margin-right: 5%;
}

.btn-enviar{
    color: #ffffff;
    border-width: 7px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    background-color: #7ed957;
    margin: 0 0 0 18px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: .3em 1em ;
    line-height: 1.7em;
    background-size: cover;
    border: 2px solid;
    transition-duration: .2s;
    transition-property: all;
}

.crear-doc{
    color: #ffffff;
    border-width: 7px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    background-color: #FFB72B;
    margin: 0 0 0 18px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: .3em 1em ;
    line-height: 1.7em;
    background-size: cover;
    border: 2px solid;
    transition-duration: .2s;
    transition-property: all;
    display: none;
}
#mensaje-contacto{
   height: 200px;
   overflow: scroll;
}


@media (min-width:720px){
    #hero-contactanos{
        margin-bottom: 0;
    }

    #datos-empresa{
        width: 80%;
        margin-left: 10%;
    }

    #sucursales{
        height: 600px;
    }

    #contactanos{
        align-items: center;
        justify-content: center;
        
    }
    .formulario_contacto{
        width: 80%;
        margin-left: 10%;
    }
}

@media (min-width:1080px){
    .container-datos{
        max-width: 100%;
        margin-left: 10%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .mapa{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .formulario_contacto{
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}