img{
    max-width: 100%;
    max-height: 100%;
}

/*modile fisrt*/
/*top-header*/ 
a{
    text-decoration: none;
    color: rgba(0,0,0,0.6)
}
#top-header, #top-header a{
    font-size: 14px;
}

.fa-solid, .fa-lemon{
    color: #FFB72B;
}
.fa-bars{
    color: #7ed957;
}
.fa-lemon{
    display: none;
}
.fa-phone, .fa-envelope{
    color: #ffffff;
    margin-right: 4px;
}


.registro{
    background: none;
    
}
.registro p{
    color: #7ed957;
}

#top-header{
    display: flex;
    justify-content: center;
    background-color: #FFB72B;
    color: #ffffff; 
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100000;
}

#top-header .container-th, #top-header .contact-info{
    line-height: 1em;
}

#top-header .container-th{
    padding-top: .75em;
    font-weight: 600;
}

.container-th{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
    line-height: 1em;
    font-weight: 600;
    text-align: center;
    width: 90%;
}

.contact-info{
    padding-bottom: .75em;
    display: block;
}

.contact-info a {
    text-decoration: none;
    color: #ffffff;
}

.info-tel{
    margin-right: 13px;
}

.info-tel, .info-mail{
    position: relative;
}
/*header*/ 
#header{
    position: fixed;
    top: 0;
    top: 35px;
    width: 100%;
    background-color: #ffffff;
    height: 80px;
    display: flex;
    z-index: 99999;
    justify-content: center;
}

.container-nav{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
   text-align: center;
   justify-content: center;
   max-width: 60%;
   box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    position: relative;
    top: 80px;
    height: 0;
    overflow: scroll;
    width: 200%;
    z-index: 99;
    transition: height .4s;
}

.nav-menu_visible{
    height: 200%;
    max-height: 200%;
  
}

.nav-menu-item{
    margin-bottom: 5px;
    margin-top: 5px;
}


.span-help{
    position: absolute;
    top: 0;
    background-color: #FFB72B;
    height: 3px;
    width: 100%;
    z-index: 99;
    line-height: 25px;
}

.logo-container{
    display: flex;
    left: 0;
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 10px;
}

.btn-bars{
    
    background: none;
    font-size: 36px;
}
.bars{
    position: absolute;
    right: 0;
    
    padding: 22px;
}



/*footer*/


#footer{
    color: black;
    width: 100%;
    text-align: center;
    background-color: #222222;

    margin-top: auto;
}


@media (min-width:720px){
    
  .btn-bars{
    font-size: 26px;
  }

  .logo-container{
    max-width: 40%;
    padding-left: 0;
    margin-left: 10%;
  }

  #top-header{
    text-align: left;
  }

  .container-th{
    width: 80%;
    text-align: left;
    justify-content: left;
  }
  .bars{
    margin-right: 10%;
  }
}
