*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
 scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*
img{ max-width: 100%; object-fit: cover;}

.search{
    height: 33px;
    width: 33px;
    font-size: 26px;
    background: none;
    border: none;
    color: black;
}

.registro{
    font-size: 10px;
    border: none;
    background: #fcec57 ;
    border-radius: 10px;
    color: black;
}

.carritoIcon{
    height: 33px;
    width: 33px;
    font-size: 26px;
    background: none;
    border: none;
    color: black;
}

.container-nav{
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

header{
    background-color: #f8f8f8;
    width: 100%;
}

header .logo{
    margin: 0;
    padding: 25px 25px;
    font-weight: bold;
    text-align: center;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 60px;
    width: 100%;
    background-color: #f8f8f8;
}

.nav-menu-item{
    padding: 5px 12px;
}

.nav-menu-link{
    color: black;
    font-weight: bold;
    
}

header a:hover{
    color: #0ee020;
}


.registro :hover{
    background-color: #efe9d8 ;
    border-radius: 10px;
}

.search:hover,.carritoIcon:hover {
    color: #0ee020;
}


.carrito{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 44px;
    align-items: center;
}
Slider
#hero{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}

.container-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 260px;
    width: 70%;
}
 
.img_slider{
    width: 1300px;
    height: 866px;
    object-fit: cover;
    overflow: hidden;
}


.container-logo img{
    width: 100%;
    height: 100%;
   
}


SECCION SOBRE COMPANIA 
#sobreT {
    max-width: 100%;
    max-height: 100%;
}

.container-st{
    display: flex;
    justify-content: center;
}

.foto{
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f8f8f8;
  min-height: 100%;
}

.foto img{
    object-fit: cover;
}


.descripcion{
  width: 50%;
  align-items: center;
  text-align: center;
  font-size: .70em;
}


.descripcion p{
    padding: 10px 10px;
}

 footer

footer{
    background-color: #f8f8f8;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    
}

 

Parte de los botones del login


p.usuario{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color:goldenrod;
    margin-top: 5px;
}


para pc

@media (min-width: 720px){
    .container-nav{
        flex-direction: row;
    }

    .nav-menu{
        flex-direction: row;
        padding-right: 30px;
        
        
    }
    .carrito{
        padding-right: 30px;
    }

    input{
        margin: 0px;
        margin-top: 5px;
        margin-left: 600px;
        padding: 0px;
        align-self: center;
        text-align: center;
    }

   .validar{
       margin-left: 650px;
    }

    .validar2{
       margin-left: 660px;
    }

     Parte del catálogo
     .carrusel {
         height: 100vh;
         display: flex;
         align-items: center;
     
     }

     .carrusel-items{
         display: flex;
         overflow-x: hidden;
         overflow-y: hidden;
         padding: 50px 0px;
     }      

      .carrusel-item{
          min-width: 300px;
          max-width: 300px;
          height: 200px;
          outline: 2px solid black;
      }       

       .carrusel-item img{
           width: 100%;
           height: 100%;
           object-fit: cover;
       }

       .carrusel-item:hover{
           transform: scale(1.2);
       }

       
}
*/
